<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.spms.mapper.PaymentRecordMapper">

    <resultMap id="BaseResultMap" type="com.example.spms.model.po.PaymentRecord">
            <id property="id" column="id" />
            <result property="paymentNo" column="payment_no" />
            <result property="billId" column="bill_id" />
            <result property="houseId" column="house_id" />
            <result property="ownerId" column="owner_id" />
            <result property="payAmount" column="pay_amount" />
            <result property="payMethod" column="pay_method" />
            <result property="payTime" column="pay_time" />
            <result property="operatorId" column="operator_id" />
            <result property="receiptNo" column="receipt_no" />
            <result property="isDeleted" column="is_deleted" />
            <result property="version" column="version" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="createUser" column="create_user" />
            <result property="updateUser" column="update_user" />
    </resultMap>

    <sql id="Base_Column_List">
        id,payment_no,bill_id,house_id,owner_id,pay_amount,
        pay_method,pay_time,operator_id,receipt_no,is_deleted,
        version,create_time,update_time,create_user,update_user
    </sql>
</mapper>
