<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.spms.mapper.SysRoleInfoMapper">

    <resultMap id="BaseResultMap" type="com.example.spms.model.po.SysRoleInfo">
            <id property="id" column="id" />
            <result property="roleCode" column="role_code" />
            <result property="roleName" column="role_name" />
            <result property="roleType" column="role_type" />
            <result property="isDeleted" column="is_deleted" />
            <result property="version" column="version" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="createUser" column="create_user" />
            <result property="updateUser" column="update_user" />
    </resultMap>

    <sql id="Base_Column_List">
        id,role_code,role_name,role_type,is_deleted,version,
        create_time,update_time,create_user,update_user
    </sql>
</mapper>
